body {
  background: #ffffed url("../img/background.svg") center/cover no-repeat;
  font-family: "Roboto", sans-serif;
}

h1 {
  text-align: center;
  color: #71361b;
}
.calculator {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 350px;
  background-color: #1a100f;
  border-radius: 25px;
}
.screens,
.currentOperation,
.previousOperation,
.calculator-buttons {
  margin: 10px;
}
.screens {
  text-align: end;
  color: #f7d6ca;
  background-color: #382822;
  border-radius: 18px;
}
.previousOperation,
.currentOperation {
  word-wrap: break-word;
}
.previousOperation {
  font-size: 20px;
}
.currentOperation {
  font-size: 65px;
}
.calculator-buttons {
  display: flex;
  flex-wrap: wrap;
}
i {
  font-size: 30px;
}

.calculator button {
  color: #f7d6ca;
  font-weight: 500;
  background-color: #251916;
  font-size: 30px;
  flex: 1 1 20%;
  box-sizing: border-box;
  text-align: center;
  margin: 3px;
  padding: 20px 10px;
  border-radius: 50%;
  border: none;
  transition: background-color 0.2s ease-in-out, border-radius 0.2s ease-in;
}
.calculator button.operator {
  background-color: #5d4035;
}
.calculator button.equalsBtn {
  background-color: #71361b;
}
.calculator button.clearBtn {
  background-color: #50471b;
}
.calculator button:active {
  border-radius: 10px;
}
.calculator button:active,
.calculator button:hover {
  background-color: #4a4a4a53;
}
.calculator button.operator:active,
.calculator button.operator:hover {
  background-color: #896354c1;
}
.calculator button.equalsBtn:active,
.calculator button.equalsBtn:hover {
  background-color: rgba(166, 95, 62, 0.768);
}
.calculator button.clearBtn:active,
.calculator button.clearBtn:hover {
  background-color: rgba(133, 118, 43, 0.755);
}

@keyframes cursorBlink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.currentOperation .cursor {
  display: inline-block;
  animation: cursorBlink 0.9s infinite;
}
